{% extends 'base.html' %}
{% block header_section %}
      <div class="container">
        <div class="row">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">Home</li>
                <li class="breadcrumb-item" aria-current="page">Product</li>
                <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
              </ol>
            </nav>
        </div>
      </div>
{% endblock header_section %}
{% block content %}
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="card text-center">
            <div class="card-body">
              <img src="/media/{{ product.image }}" width="348" height="225" class="img-fluid" />
              <h5 class="card-title">{{ product.name }}</h5>
            </div>
          </div>
        </div>        
      </div>
      <div class="row">
      <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Description</h5>
              <div class="card-text">
              {{product.description | safe }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
